body {
  background-color: black;
  background-image: url(../images.img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
nav ul li {
  display: inline;
  text-decoration: none;
  text-align: center;
  word-spacing: 50px;
}
nav ul li a {
  font-size: 50px;
  color: black;
}
a {
  text-decoration: none;
}
nav {
  background-image: url(../images.img/nav.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px;
  font-size: x-large;
}
nav ul {
  list-style-type: none; /* this removes bullet points*/
}
.nav-btn{
  float: right;
}
.nav-btn:hover{
  color: red;
}
.dropdown-menu{
  border: 10px solid white;
}
/* Nav CSS ends here*/

.right {
  height: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 75%;
}
.left {
  height: 25%;
  width: 25%;
  display: inline;
  float: left;
  clear: left;
}
#images {
  display: inline;
  border: solid 10px black;
  width: auto;
  min-height: 1000px;
}
img {
  margin: 25px;
}
footer {
  display: block;
  border: solid rgb(129, 14, 14);
  text-align: center;
  padding: 100px;
  margin-top: 150px;
  background-color: crimson;
}
footer a {
  font-size: large;
  color: black;
  font-weight: bolder;
}
